/* login.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    text-align: center;
    color: #123F61; 
    font-family: 'Skia-Regular_Bold', sans-serif;
    margin-bottom: 20px; 
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px; 
}

button {
    padding: 10px;
    background-color: #123F61; 
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-family: 'Skia-Regular', sans-serif;
    font-size: 18px; 
    margin-top: 20px; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0a2c42; 
}
