<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry Form - Transportation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inquiryform.css') }}">
</head>
<body>
    <header class="site-header">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="VipVoyage Logo" class="logo">
        </a>
    </header>
    <main class="service-container">
        <div class="form-wrapper">
            <h2>Our service works as simple as that:</h2>
            <p>Submit your inquiry, and within 24 hours, we'll respond with personalized offers.<br>Experience a service customized just for you.</p>
<form action="{{ url_for('submit_inquiry_t') }}" method="post">
                 <input type="text" id="name" name="name" placeholder="Your name" required>
                <input type="tel" id="phone" name="phone" placeholder="Your phone number" required>
                <input type="date" id="arrival" name="arrival" placeholder="Arrival Date" required>
                <input type="time" id="arrival-time" name="arrival-time" placeholder="Arrival Time" required>
                <input type="date" id="departure" name="departure" placeholder="Departure Date" required>
                <input type="time" id="departure-time" name="departure-time" placeholder="Departure Time" required>
                <input type="number" id="amount-people" name="amount-people" placeholder="Amount of people" required>
                <input type="text" id="budget" name="budget" placeholder="Budget in €" required>
                <textarea id="special-requests" name="special-requests" placeholder="Special Requests"></textarea>
                <div class="buttons">
                    <button type="button" onclick="window.history.back();">Cancel</button>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
